@import '../variables.scss';

.Simulator {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   color: $foreground;

   .top {
      width: 100%;
      padding: 15px;
   }

   .main-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 2em;
      padding: 1em;

      h3 {
         text-align: center;
         margin-bottom: 2em;
      }

   }

   .control {

      position: relative;

      .icon-wrapper {

         position: absolute;
         top: 0;
         bottom: 0;
         left: 0;
         right: 0;

         display: flex;
         align-items: center;
         justify-content: center

      }

   }

   
}